<!DOCTYPE html>
<html lang="en">
<head>
    <title>Detail Mobil</title>
    <link rel="stylesheet" href="/assets/style.css")
</head>
<body>
    <%- include ('../components/navbar') %>

    <a href="/mobil">Kembali</a>

    <h1>Detail Mobil</h1>
    <!-- Page Content-->
    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"> <img class="img-fluid"
                src="data:image/<%=mobil.img.contentType%>;base64,<%=mobil.img.data.toString('base64')%>"
                alt="image-produk"></div>
            <div class="col-lg-5">
                <!-- <h1 class="font-weight-light">hsv</h1>
                <p>122</p>
                <a class="btn btn-primary" href="#!">Call to Action!</a> -->
            </div>
        </div>
        <!-- Call to Action-->
        <div class="card text-white bg-secondary my-5 py-4 text-center">
            <div class="card-body"><p class="text-white m-0"></p></div>
        </div>
        <!-- Content Row-->
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title"><%= mobil.jns_mobil %></h2>
                        <h3 class="card-title"><%= mobil.nm_mobil %></h3>
                        <h1 class="card-text"><%= mobil.harga %></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <ul>
        <li>Jenis Mobil: <strong> <%= mobil.jns_mobil %> </strong></li>
        <li>Nama: <strong> <%= mobil.nm_mobil %></strong></li>
        <li>Harga: <strong> <%= mobil.harga %></strong></li>
    </ul>

    <a href="/mobil/<%= mobil._id %>/edit">Edit</a> -->

</body>
</html>